.gi{
        display: flex;
        flex-flow: column wrap; 
        align-items: center; 
        justify-content:space-evenly; 
        width: 25%;
        margin: 5% 33%;
        background-color: RGB(255,255,255, 0.85);
        border: 2px solid rgb(103, 151, 7);
        border-radius: 20px;
}

.guestInfo{
    margin: 2% 0;
}

.button{
    margin: 10% 0;
}