.pinfo{
    display: flex;
    /* flex-flow: row wrap; */
    /* align-items: space-evenly; */
    justify-content:space-evenly; 
    width: 45%;
    margin: 5% 33%;
    border: 2px solid rgb(103, 151, 7);
    border-radius: 20px;
}

.checkbox{
    display: flex;
    margin: 5% 0;
}

.buttons{
    display: flex;
    margin: 5% 0;   
}

.inviteGuest{
    margin: 0 10px;
}

.editInfo{
    margin: 0 10px;
}